<div class="zc_container">
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>

  <div class ="item">
    <h3> New Booking</h3>
  </div>

  <%= render 'booking' %>
  <br/>
</div>

