<div class="zc_container">
  <h4><b><span class= "text">Few instructions for the app:</span></b></h4>
  <ul>
    <li>This is a basic booking and payments app which allows you to book a car.</li>
    <li>New booking will be made through Bookings tab.</li>
    <li>Payment can be made through various modes like PG, wallet, giftcard. Basic payment process has been mocked.</li>
    <li>Various extra charges can be applied at different stages of booking through admin section.</li>
    <li>Trip can be only be started if everything is settled, i.e user doesn't have any outstanding payment amount.</li>
    <li>Security deposit of Rs. 5000 will be refunded after the trip ends.</li>
    <li> Enjoy!! </li>
  </ul>
<div class="zc_container">