<div class="zc_container">
    <h3><b><span class= "text">Welcome to a mock booking and payments app</span></b></h3>
    </br>
    <h4 style="color:purple;">************** Quote of the day ****************</h4>
    <h4 style="color:#3d3d5c; font-weight: normal;"><i><span class= "text"><%= @quote %></span></i></h4>
<div class="zc_container">