.zc_label {
  width: 150px;
}

.zc_check_label {
  width: 175px;
}

.zc_input {
  width: 150px;
}

.zc_text_field {
  width: 190px;
}

.zc_container {
  margin-left: 40px;
  margin-right: 40px;
}

.button_to,
.button_to div {
  display: inline;
}

.zc_panel {
  background: white;
  padding-left: 10px;
  padding-top: 10px;
  width: 500px;
  border-radius: 5px;
}